resources/
*.DS_Store
*.ipynb_checkpoints
*-checkpoint.ipynb
*-checkpoint.ipynb
*.json
*cache

book/labs/week2/data/*
book/labs/week3/data/*
book/labs/week4/data/*

book/lectures/week2/data/*
book/lectures/week3/data/*
book/lectures/week4/data/*

